<h2>Celebrities</h2>

{{#each foundCelebrities}}

    <h3>{{name}}</h3>

{{/each}}



{{!-- Add an <h2> tag for the page's heading.
Use an hbs #each loop to display tags with each celebrity's name. --}}