<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <nav>
      <a href="/movies">Movies</a>
      <a href="/movies/create">Add Movie</a>
      <a href="/celebrities">Celebrities</a>
      <a href="/celebrities/create">Add Celebrity</a>
    </nav>

    {{{body}}}

  </body>
</html>
